extends layout

block content
  //h5=title
  .table-responsive
    table.table.table-striped.table-hover.table-bordered.table-margin.list-spacing
      thead
        //tr
        th #
        th Companies
        th Executives
      tbody
        - var count = 0
        each company in list_companys
          tr
            td(class='count_width') #{++count}
            td(class='main_width')
              a(href=company.url) #{company.company_name}
            td

