extends layout

block content
  //h1=title

  form(class='form-style')(method='POST' action='')
    div.form-group
      label(for='titan_name') Titan Name:
      input#titan_name.form-control(type='text', placeholder='' name='titan_name' required='true' value=(undefined===titan ? '' : titan.titan_name) )
    div.form-group
      label(for='start_date') Start Date:
      input#start_date.form-control(type='date', name='start_date' required='true' value=(undefined === titan ? '' : titan.start_date_yyyy_mm_dd) )
    div.form-group
      label(for='bloomberg_url') Bloomberg URL:
      input#bloomberg_url.form-control(type='text', placeholder='' name='bloomberg_url' value=(undefined===titan ? '' : titan.bloomberg_url))
    div.form-group
      label(for='linkedin_url') Linkedin URL:
      input#linkedin_url.form-control(type='text', placeholder='' name='linkedin_url' value=(undefined === titan ? '' : titan.linkedin_url))
    div.form-group
      label(for='company') Company ID:
      input#company.form-control(type='text', placeholder='' name='company' required='true' value=(undefined === titan ? '' : titan.company.id))
    div.form-group
      label(for='freelancer') Freelancer:
      select#freelancer.form-control(type='select', placeholder='Select Freelancer' name='freelancer' required='true' )
        option(value='Not Assigned' selected=(undefined === titan || titan.freelancer != 'Not Assigned' ? false : 'selected')) Not Assigned
        option(value='Steve Friedman' selected=(undefined === titan || titan.freelancer != 'Steve Friedman' ? false : 'selected')) Steve Friedman
        option(value='Hector Echavarria' selected=(undefined === titan || titan.freelancer != 'Hector Echavarria' ? false : 'selected')) Hector Echavarria
    div.form-group
      label(for='profile_status') Profile Status:
      select#profile_status.form-control(type='select', placeholder='Select Profile Status' name='profile_status' required='true' )
        option(value='In Progress' selected=(undefined === titan || titan.profile_status != 'In Progress' ? false : 'selected')) In Progress
        option(value='Invalid' selected=(undefined === titan || titan.profile_status != 'invalid' ? false : 'selected')) Invalid
        option(value='Complete' selected=(undefined === titan || titan.profile_status != 'Complete' ? false : 'selected')) Complete
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg